body {
    padding: 0;
    margin: 0;
    background-color: #E9EAED;
}

.main_content {
    margin-top: 50px;
}
.query_row {
    padding-bottom: 30px;
    border-bottom: 1px solid #9d9d9d;
}

.city {
    background-color: whitesmoke;
    padding: 10px 20px 20px 20px;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid  #9d9d9d;
}

.city_data {
    padding-left: 55px;
}

.city_data h2 {
    display: inline-block;
}

.city_data a {
    margin: 15px 15px 5px 0;
}

.city_data a#delete {
    margin: 15px 15px 45px 0;
}

.tags {
    display: inline-block;
    margin: 5px 10px 5px 0;
    border: 1px solid #E9EAED;
    background-color: #E9EAED;
    border-radius: 7px;
    padding: 2px 4px 2px 4px;
}

.g_map{
    width:90%;
    height:380px;
    margin: 5px auto;
}

h4 {
    opacity: 0.7;
}

.validationMessage{
    color: #d43f3a;
}

.admin_city{
    display: block;
}

ul li:hover {
    background: #B4D2FF;
    opacity: 1;
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);
}

.no_results {
    font-size: larger;
    margin: 25px auto;
}

.query{
    margin: 15px auto;
    width: 450px;
}

#logo{
    color: white;
    font-weight: bold;
}

#logo a {
    text-decoration: none;
    color: white;
}
