<div class="container-fluid">
    <div class="modal-header">
        <div class="modal-title">
            <h3 ng-hide="edit" class="text-center">New City</h3>
            <h3 ng-show="edit" class="text-center">Edit City</h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="text-center">Name</label>
            <input type="text" placeholder="Your Name" class="form-control" ng-model="$parent.city.name" required name="name" ng-maxlength="15"/>
            <span class="validationMessage" ng-show="modalInputForm.$submitted && modalInputForm.name.$error.required">Field cannot be empty</span>
            <span class="validationMessage" ng-show="modalInputForm.$submitted && modalInputForm.name.$error.maxlength">Field cannot contain more then 15 characters</span>
        </div>

        <div class="form-group">
            <label class="text-center">Coordinates X</label>
            <input type="text" placeholder="Coordinates X" name="c_x" class="form-control" ng-model="$parent.city.coordinates_x" required />
            <span class="validationMessage" ng-show="modalInputForm.$submitted && modalInputForm.c_x.$error.required">Field cannot be empty</span>
        </div>

        <div class="form-group">
            <label class="text-center">Coordinates Y</label>
            <input type="text" placeholder="Coordinates Y" class="form-control" ng-model="$parent.city.coordinates_y" name="c_y" required/>
            <span class="validationMessage" ng-show="modalInputForm.$submitted && modalInputForm.c_y.$error.required">Field cannot be empty</span>
        </div>
        <div class="form-group">
            <label class="text-center">Tags (separate each tag with comma)</label>
            <input type="text" placeholder="Tags" class="form-control" ng-model="$parent.tags" name="tags" required/>
            <span class="validationMessage" ng-show="modalInputForm.$submitted && modalInputForm.tags.$error.required">Field cannot be empty</span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-disabled="modalInputForm.$submitted" type="submit">Save</button>
    </div>
</div>