<div class="container">
    <div class="input-group query">
        <input type="text" class="form-control" name="query" ng-model="query" placeholder="Filter by name">
    </div>
    <ul>
        <li ng-repeat="city in cities | filter:{ name: query }" class="row city admin_city">
            <a href="#/home/city/{{city.id}}">
                <h3>{{city.name}}</h3>
            </a>
            <div class="tags" ng-repeat="tag in city.tags">
                <span class="glyphicon glyphicon-tag"></span> {{tag.name}}
            </div>
        </li>
    </ul>
    </div>
</div>