<div class="col-lg-8 col-lg-offset-2">
    <div class="row">
        <div class="city">
            <div class="row city_data">
                <h2>City: {{city.name}}</h2>
                <a id="delete" class="btn btn-default pull-right" href="" ng-click="delete(city)" title="Edit"><span class="glyphicon glyphicon-trash"></span></a>
                <a class="btn btn-default pull-right" href="" ng-click="edit(city)" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
            <div class="row city_data">
                <i>Tags: </i>
                <div class="tags" ng-repeat="tag in city.tags">
                    <span class="glyphicon glyphicon-tag"></span>  {{tag.name}}
                </div>
            </div>
            <hr/>
            <div id="googleMap_{{city.name}}" class="g_map thumbnail"></div>
        </div>
    </div>
</div>
