<header class="navbar navbar-inverse"  role="navigation">
    <div class="navbar-inner">
        <div class="container">
            <div id="logo" class="navbar-brand"> <a ui-sref="home.main"> Test Service KLIKA </a> </div>
            <nav class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="$root.logged"><a ui-sref="home.cities" href="#">All Cities</a></li>
                    <li ng-show="$root.logged" ng-click="new()"> <a  href="#">New City</a> </li>
                    <li ng-hide="$root.logged"> <a ui-sref="login">Sign In</a> </li>
                    <li ng-show="$root.logged" ng-click="logout()"> <a href="#">Sign Out</a> </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div ui-view></div>