<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-lg-offset-2 col-md-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="text-center">Login</h5>
                    <form name="loginForm" class="form form-signup" role="form" novalidate ng-submit="loginForm.$valid && login()" >
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input ng-model="user.email" name="email" type="email" class="form-control" placeholder="E-mail" required />
                            </div>
                            <span ng-show="loginForm.$submitted && loginForm.email.$error.email" class="validationMessage"><h6>Enter valid e-mail</h6></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"> <span class="glyphicon glyphicon-lock"></span> </span>
                                <input ng-model="user.password" name="password"  type="password" class="form-control" placeholder="Password"  required/>
                            </div>
                            <span ng-show="loginForm.$submitted && loginForm.password.$error.required" class="validationMessage"><h6>Enter password</h6></span>
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Login"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>