
<div class="col-lg-8 col-lg-offset-2  main_content">
    <div class="row query_row">
        <div class="col-lg-10 col-lg-offset-1">
            <h4 class="text-center"><i>Search for cities by name or by related tag</i></h4>
            <br/>
            <form name="inputForm" ng-submit="inputForm.$valid && find()" novalidate>
                <div class="input-group">
                    <input type="text" class="form-control" name="query" ng-model="search_query" placeholder="Search for..." required >
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Search!</button>
                      </span>
                </div>
                <span class="validationMessage"  ng-show="inputForm.$submitted && inputForm.query.$error.required">Field cannot be empty</span>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="text-center no_results" ng-show="inputForm.$submitted && cities.length == 0">No result's found</div>
        <div class="city" ng-repeat="city in cities">
            <div class="row city_data">
               <h2>City: {{city.name}}</h2>
            </div>
            <div class="row city_data">
                <i>Tags: </i>
                <div class="tags" ng-repeat="tag in city.tags">
                   <span class="glyphicon glyphicon-tag"></span>  {{tag.name}}
                </div>
            </div>
            <hr/>
            <div id="googleMap_{{city.name}}" class="g_map thumbnail"></div>
        </div>
    </div>
</div>